<h1><%= @instructor.name %></h1>
<h3>Students:</h3>
<% @instructor.students.each do |student| %>
  <section id="student-<%= student.id %>">
    <p><%= student.name %></p>
  </section>
<% end %>
<p>Average Student Age: <%= @instructor.student_age_avg %></p>
